* {
    border: 0;
    margin: 0;
    font-family: sans-serif;
}
.board-item {
    width: 20px;
    height: 20px;
    background-color: black;
}
.board-row {
    display: flex;
    gap: 1px;
}
.board {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.changed {
    background-color: blue;
}